// Define variables for your color scheme

// For example:
$green: rgb(8, 63, 39);
$milk: rgba(245, 245, 220, 1);
$yellow:rgba(255, 176, 0, 0.7);
$orange: rgba(255, 207, 157, 1);
$white: rgba(255, 255, 255, 1);
