
<h4><strong><%= @course.description %></strong></h4>
<h4><strong><%= @course.level %></strong></h4>
<h4><strong><%= @course.language.name %></strong></h4>
<h4><strong><%= @course.teacher.name %></strong></h4>
