.button{
  background-color: $green ;
  color: $milk;
  width: 120px;
  height: 45px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;

  &:hover{
    background-color: $milk;
    color: $green;
  }

}

.button--back{
  background-color: $milk ;
  color: $green;
  width: 140px;
  height: 38px;
  border-radius: 50px;
  text-decoration: none;


  &:hover{
    background-color: $green;
    color: $milk;
  }

}

.button--logout{
  background-color: $milk;
  color: $green;
  width: 100px;
  height: 50px;
  box-shadow: 1px 3px 5px black;
  border: 1px solid milk;
  text-decoration: none;

  &:hover{
    background-color: $green;
    color: $milk;
  }
}

.button--cancel--booking{
  color: $milk;
  background: $green;
  border-radius: 50px;
  width: 190px;
  height: 38px;
  text-decoration: none;
  margin-right: 10px;
  border-style: none;

  &:hover{
    background-color: $milk;
    color: $green;
  }
}

.detailsbtn {
  color: $green;
  background: $milk;
  border-radius: 50px;
  width: 190px;
  height: 38px;
  margin-right: 10px;
  border-style: none;

  &:hover{
    background-color: $green;
    color: $milk;
  }
}

.detailsbtn1 {
  color: $green;
  background: $milk;
  border-radius: 50px;
  width: 120px;
  height: 38px;
  margin-right: 10px;
  border-style: none;

  &:hover{
    background-color: $green;
    color: $milk;
  }
}

.button--cancel--booking1{
  color: $milk;
  background: $green;
  border-radius: 50px;
  width: 120px;
  height: 38px;
  text-decoration: none;
  margin-right: 10px;
  border-style: none;

  &:hover{
    background-color: $milk;
    color: $green;
  }
}
