.button{
  background-color: $green ;
  color: $milk;
  width: 120px;
  height: 45px;
  box-shadow: 1px 3px 5px black;
  text-decoration: none;

  &:hover{
    background-color: $milk;
    color: $green;
  }

}

.button--logout{
  background-color: $milk;
  color: $green;
  width: 100px;
  height: 50px;
  box-shadow: 1px 3px 5px black;
  border: 1px solid milk;
  text-decoration: none;

  &:hover{
    background-color: $green;
    color: $milk;
  }
}

.button--cancel--booking{
  color: $milk;
  background: $green;
  border-radius: 50px;
  width: 120px;
  margin-right: 10px;
  text-decoration: none;

  &:hover{
    background-color: $milk;
    color: $green;
  }
}
