.filters{
  height: 50px;
}


.button--filter--login{
  color: $milk;
  background: $green;
  border-radius: 50px;
  width: 120px;
  margin-right: 10px;

  &:hover{
    background-color: $milk;
    color: $green;
  }
}



.button--filter--reset{
  border-color: $green;
  color: $green;
  background: $white;
  border-radius: 50px;
  width: 120px;
  margin-right: 10px;

  &:hover{
    background-color: $green;
    color: $milk;
  }
}
